@charset "UTF-8";

/* ---------------common settings-------------- */
/* all */
body {
    background-color:rgb(0, 14, 24);
}

p,h1,h2 {
    color: white;
    font-weight: normal;
}


/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8rem 0 3rem;
    margin-bottom: 0.5rem;
    height: 6rem; /*ここ直したらlogoとheader_navも直す*/
}

#logo {
    display: inline-block;
    height: 6rem;
    font-size: 3rem;
    font-family:'Courier New' ;
}

#logo a {
    color: white;
    text-decoration: none;
    line-height: 6rem;
}

.header_nav {
    display: flex;
    align-items: center;
    height: 6rem;
    list-style-type: none;
    font-size: 0.5rem;
    letter-spacing: 0.2rem;
}

.header_nav li {
    display: inline-block;
    text-align: center;
}

.header_nav a {
    display: inline-block;
    width: 4rem;
    padding: 0.8rem;
    margin-right: 0.5rem;
    background-color: white;
    color: black;
    text-decoration: none;
    transition: 0.3s;
}

.header_nav a:hover {
    opacity: 0.8;
    color: #333;
}

/* main */
main {
    padding-right: 5rem;
}

/* sidebar */
aside {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 5rem;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: black;
    text-align: center;
}

.nav_icon {
    position: relative;
    height: 7rem;
}

.nav_icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
    width: 2rem;
}

.nav_page {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.nav_page li {
    list-style-type: none;
}

.nav_page a {
    display: inline-block;
    width: 2.5rem; /*ここ変えたらheight,line-heightも変える*/
    height: 2.5rem;
    margin: 0.2rem;
    border: solid 1px white;
    color: white;
    text-decoration: none;
    line-height: 2.5rem;
    font-size: 0.8rem;
    transition: 0.3s;
}

.nav_page_dots {
    transform: rotate(90deg);
}

.nav_page a:hover {
    background-color: white;
    color: black;
}


/* footer */
footer {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    height: 3rem; /*ここ変えたらsmallも変える*/
    color: white;
    text-align: center;
}

small {
    line-height: 3rem;
}

/* ---------------------index-------------------- */
.contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
}

.content {
    display: inline-block;
    width: 30%;
    margin-bottom: 2rem;
    overflow: hidden;
}

.com_img {
    transition: 0.3s;
}

.com_img img {
    width: 100%;
}

.com_img:hover {
    opacity: 0.7;
    filter: brightness(110%);
}

.com_text {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 0.8rem;
}

.com_text li {
    list-style-type: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.com_text li::before {
    content: '';
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.2rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

.com_text li.icon_home::before {background-image: url(./images/icon_home.svg);}
.com_text li.icon_tag::before {background-image: url(./images/icon_tag.svg);}
.com_text li.icon_pen::before {background-image: url(./images/icon_pen.svg);}

.icon_tag a {
    color: white;
    text-decoration: none;
}

.icon_tag a:hover {
    text-decoration: underline;
}

.modal {
    display: none;
    position: fixed;
    background-color: black;
    height: 100vh;
    width: 100%;
    opacity: 0.9;
    right: 0rem;
    top: 0rem;
}

.modal_contents a {
    position: absolute;
    color: white;
    border-bottom: white;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}


/* ---------------------about-------------------- */
.about_img {
    width: 50%;
    float: left;
    margin: 0 30px 0 0;
}

/* ---------------------contact-------------------- */
.form {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

.form_text {
    height: 1.5rem;
}

.form_button {
    border-radius: 0.2rem;
    border: none;
    display: inline-block;
    width: 6rem;
    padding: 0.8rem;
    margin-right: 0.5rem;
    background-color: white;
    color: black;
    text-decoration: none;
    transition: 0.3s;
}



/* --------------------responsible------------------- */

@media screen and (max-width: 480px) {
    /*header, #logo, header_nav, main, content, aside, nav_pageを変える*/

    header {
        padding: 0 8rem 0 1rem;
    }

    #logo {
        font-size: 1.8rem;
    }

    .header_nav {
        display: none;
    }

    main {
        padding-right: 0;
        margin-bottom: 3rem;
    }

    aside {
        height: 6rem;
        background-color:rgba(0, 14, 24, 0);
    }

    .nav_page {
        display: none;
    }

    .content {
        width: 90%;
    }
}
